<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DH HEROES</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <article class="contenedor">
      <h1>Probando las herramientas de adaptacion</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quam
        aut fugit, dicta, ab quibusdam labore iusto, nisi cupiditate cum
        temporibus alias. Ducimus eveniet, cumque quas sapiente ipsam explicabo
        beatae!
      </p>
    </article>
  </body>
</html>
