body{
    font-family: 'Lucida Sans', sans-serif;
    background-color: #347464;
    text-align: center;
}
.contenedor{
width: 80%;
background-color: chocolate;
padding: 15px;
border: solid 5px brown;
box-sizing: border-box;
}